@charset "ISO-8859-1";

body{	
	background-color: #0A0A0A;
	padding: 0px;
  	margin:0px;
   	font-family: Verdana, Geneva, sans-serif;
  	line-height: 1.2em;
  	color: #fcf8f9;
  	  	
}

header img{	
	display: inline;
	margin-right: 50px;	
}

input{
	
    height: 30px;
	margin-left:550px;
	border:none;
	align-items:center;
}

i{	
	right: 10px;
}

.head{
	margin-left:550px;
	
}
header nav li{
  float: left;
  display: block;
  
}
	
nav ul {
  margin: 0;
  padding:10px;
  list-style: none;
  color: #9a5ecb;
  background-color: #0A0A0A;
  overflow: hidden;  
  
}

nav li {

  display: inline-block;
  margin-right: 50px;
  font-size:1.2em;
}

#page nav ul{
	
	background-color: #252525;
	
}

nav a {
  display: block;
  color: #9a5ecb;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

input li{
  
  color: 1d1d1d;
  font-size: 17px

  }
  
  section{
  	padding: 170px;
  }
  
  footer{
	background-color: #252525;
	margin:100;
	color: #9a5ecb;
	padding:5px;
	font-size:0.7em;
	text-align: center;
	bottom: 0px;
	width: 100%;
	position: fixed;
}